/*
.fm-form-catevent {
  .fm-row-goal {
    .td234 {
      .pillbox, .fielddesc {
        vertical-align: middle;
      }
      .fielddesc {
        display: inline-block;
        margin: 0 0 0 4px;
        i {
          @include fontawesome-basic;
          color: #999;
          padding-right: 0.25em;
          &:before {
            content: "\f067";
            speak: none;
          }
        }
      }
    }
  }
}
*/
/* line 67, ../../scss/catevent/catevent.scss */
.fm-form-catevent .Caption i {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.41667em;
}
/* line 71, ../../scss/catevent/catevent.scss */
.fm-form-catevent .Caption i:before {
  content: "\f073";
  display: inline-block;
  speak: none;
}
/* line 76, ../../scss/catevent/catevent.scss */
.fm-form-catevent td.t {
  padding-right: 0;
}
/* line 81, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row:not(.row-crm) .td1 {
  width: 5%;
}
/* line 82, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row:not(.row-crm) .td2 {
  width: 95%;
}
/* line 85, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row.row-crm .td1 {
  white-space: nowrap;
  padding-right: 4px;
}
/* line 89, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row.row-crm .td1, .fm-form-catevent tr.fm-row.row-crm .td3 {
  width: 5%;
}
/* line 90, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row.row-crm .td2 {
  width: 90%;
}
/* line 91, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row.row-crm .td3 {
  padding-left: 4px;
}
/* line 94, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row.row-crm .td3 a.button i {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25em;
}
/* line 97, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row.row-crm .td3 a.button i:before {
  content: "\f067";
}
/* line 104, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row td {
  padding: 2px 0;
}
/* line 105, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row.hidden {
  display: none;
}
/* line 109, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row.catevent_subject .pillbox, .fm-form-catevent tr.fm-row.tags .pillbox, .fm-form-catevent tr.fm-row.cattask_relate_crm_company .pillbox, .fm-form-catevent tr.fm-row.cattask_relate_crm_contact .pillbox, .fm-form-catevent tr.fm-row.task_target .pillbox, .fm-form-catevent tr.fm-row.edit_desc .pillbox {
  max-width: initial;
}
/* line 112, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row.catevent_subject .td2 input, .fm-form-catevent tr.fm-row.tags .td2 input, .fm-form-catevent tr.fm-row.cattask_relate_crm_company .td2 input, .fm-form-catevent tr.fm-row.cattask_relate_crm_contact .td2 input, .fm-form-catevent tr.fm-row.task_target .td2 input, .fm-form-catevent tr.fm-row.edit_desc .td2 input {
  width: 100%;
}
/* line 118, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row.fm-row.crm-goal .combobox-entries i {
  margin-right: 4px;
  display: inline-block;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 122, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row.fm-row.crm-goal .combobox-entries i:before {
  content: "\f0ae";
  speak: none;
}
/* line 127, ../../scss/catevent/catevent.scss */
.fm-form-catevent tr.fm-row.fm-row.crm-goal .combobox-entries span.s {
  display: inline-block;
  color: #999;
  font-size: 0.8em;
  line-height: 15px;
  padding: 0 4px 0 0;
  color: #666;
}

/* line 146, ../../scss/catevent/catevent.scss */
.fi .ft .task-feed-details .v > a.label-sticker:hover {
  color: white;
  filter: brightness(120%);
  text-decoration: none;
}

/* line 156, ../../scss/catevent/catevent.scss */
.catevent-details-table-container.hide-by-default {
  display: none;
}

/* line 164, ../../scss/catevent/catevent.scss */
.summary-header {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}
/* line 170, ../../scss/catevent/catevent.scss */
.summary-header .exp a i {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999;
}
/* line 174, ../../scss/catevent/catevent.scss */
.summary-header .exp a.collapsed i:before {
  content: "\f0d7";
}
/* line 177, ../../scss/catevent/catevent.scss */
.summary-header .exp a.expanded i:before {
  content: "\f0d8";
}

/* line 191, ../../scss/catevent/catevent.scss */
.catevent-details-table tr.crm-company .v a.label-sticker, .catevent-details-table tr.crm-contact .v a.label-sticker {
  color: white;
  font-weight: normal;
  margin-left: 0;
  margin-right: 1px;
  font-size: 100%;
}
/* line 197, ../../scss/catevent/catevent.scss */
.catevent-details-table tr.crm-company .v a.label-sticker:hover, .catevent-details-table tr.crm-contact .v a.label-sticker:hover {
  color: white;
  filter: brightness(120%);
  text-decoration: none;
}
